@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.imag{
    width: 100%;
    height: 100vh;
    background-image: url('/Images/Background.jpg');
    background-size: cover;

}

.double-color{
  background: linear-gradient(
    to top,
    white 0%,
    white 50%,
    rgb(215,157,34) 50%,
    rgb(215,157,34) 100%
  );
}